<h1>Here are all the clients who see this stylist:</h1>
<p>Stylist: @Model["stylist"].GetName()</p>
<p>Stylist ID: @Model["stylist"].GetId()</p>
@if (@Model["clients"].Count == 0)
{
  <p>This stylist has no clients yet!</p>
}
else
{
  <ul>
    @foreach (var client in @Model["clients"])
    {
      <li><h3>Client Name: @client.GetName()</h3></li>
      <li>Standard Service: @client.GetTreatment()</li>
    }
  </ul>
}
<hr></hr>
<h2>Add a new client for this stylist:</h2>
<hr></hr>
<form action="/stylist/new" method="post">
  <label for="client-name">Client Name:</label>
  <input name="client-name" type="text">
  <label for="client-treatment">Client Treatment:</label>
  <input name="client-treatment" type="text">
  <input name="stylist-id" hidden="true" value='@Model["stylist"].GetId()'>
  <button type="submit">Add new Client</button>
</form>

<p><a href="/">Return to Main Page</a></p>
