<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="Content/css/styles.css" rel="stylesheet" type="text/css">
    <title>salon</title>
  </head>
  <body>
    <div class="container jumbotron">
      <h2>Stylist Details</h2>
      <p>Stylist: @Model["stylist"].GetName()</p>
      <p>Stylist ID: @Model["stylist"].GetId()</p>
      <p>Stylist clients:</p>
      @if (@Model["clients"].Count == 0)
      {
        <p>This stylist has no clients yet!</p>
      }
      else
      {
        <ul>
          @foreach (var client in @Model["clients"])
          {
            <li><h3>Client Name: @client.GetName()</h3></li>
            <li>Standard Service: @client.GetTreatment()</li>
          }
        </ul>
      }
    </div>
    <div class="container jumbotron">
      <h3>Add a new client for this stylist:</h3>
      <hr></hr>
      <form action="/stylist/new" method="post">
        <label for="client-name">Client Name:</label>
        <input name="client-name" type="text">
        <label for="client-treatment">Client Treatment:</label>
        <input name="client-treatment" type="text">
        <input name="stylist-id" hidden="true" value='@Model["stylist"].GetId()'>
        <button type="submit">Add new Client</button>
      </form>
      <hr></hr>
      <p><a href="/">Return to Main Page</a></p>
    </div>
  </body>
</html>
